/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css?family=Megrim");

/* BODY BACKGROUND */
body {
  background-color: black;
}

/* HEADING && LOGO*/
h1 {
  font-family: Megrim, cursive;
  font-size: 4.5vw;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
    rgb(255, 255, 255) 0px 0px 15px, #ffc107 0px 0px 20px, #ffc107 0px 0px 30px,
    #ffc107 0px 0px 40px, #ffc107 0px 0px 55px, #ffc107 0px 0px 75px;
}

.mainLogo {
  width: 35%;
  height: auto;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
}

/* PARALLAX */
.parallax {
  background-image: url("../Img/ParallaxBg.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR */
.navBarLogo {
  width: 4%;
  height: auto;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

/* COIN CARDS */
.coins {
  margin: 3rem;
}

.card {
  margin: 1rem;
  width: 15rem;
  height: 12rem;
}

/* LOADING SPINNER */
#spinner {
  display: none;
  position: absolute;
  z-index: 9999;
}

.spin {
  width: 40%;
}

/* CHECKBOX */
input[type="checkbox"] {
  cursor: pointer;
}
